#changeBtn{
    /* height: 100px; */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 6px;
}

#changeBtn:hover{
    color: white;
    background-color: rgb(12, 12, 12);
}

#changeBtn:active{
    background-color: rgb(255, 230, 0);
}

.collapseBtn{
    /* margin-left: 40%; */
    color: black;
    height: 40px;
    background-color: rgb(255, 255, 255);
}

.addCartbtn{
    margin-top: 2%;
    margin-right: 3%;
    border-radius: 100px;
    width: 130px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(1, 6, 10);
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}